* {
  outline: red dotted 2px;
  box-sizing: border-box;
  /* overflow: hidden; */
  
}

/* =============== Mobile First Styling ===================== */

main {
  overflow: visible auto  ;
  scrollbar-width: 30px;
  display: grid;
  max-width: 480px;
  margin: 100px auto;
  grid-template-rows:  75px 150px repeat(2, 125px [row-start]) repeat(2, 250px [row-start]) 80px;
  grid-template-columns: 1fr 1fr;
}

main :nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4){
  grid-column:1 /span 2;
  
}

aside:nth-child(1), aside:nth-child(3) {
  grid-column: 1 / 2;
}

aside:nth-child(2), aside:nth-child(4){
  grid-column: 2 / 3;
}

main :last-child {
 grid-column: 1 / span 2;
}


/*============== (lap || Desk)top Device Breakpoint. =================*/
@media(min-width: 920px){
    main {
      overflow: visible auto  ;
      scrollbar-width: 30px;
      display: grid;
      max-width: 760px;
      margin: 100px auto;
      grid-template-rows: 100px 200px 250px 150px;
      grid-template-columns: 200px repeat(4 1fr[columns-4]);

    }

    main :first-child {
      grid-column: 1 / span 5;
    }

    main :nth-child(2){
      grid-row: 2 / span 3;
    }

    main :nth-child(3){
      grid-column: 2 / span 2;
    }

    main :nth-child(4):nth-child(4) {
      grid-column: 4 / span 2;
    }
    
    main :last-child{
      grid-column: 2 / span 4;
    }

}